services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://${BACKEND_HOST}
    container_name: reviewjom-frontend
    restart: always
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: reviewjom-frontend-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
